.board-area {
  display: flex;
}
.board-left {
  flex: 1;
}
.board-main {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 20px;
}
.board-right {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 20pt;
  font-weight: bold;
}
.board-square {
  display: grid;
  justify-content: center;
  background-color: #c1c1d7;
  border-radius: 10px;
  padding: 10px;
}
.board-square:nth-child(odd) {
  background-color: rgb(200, 200, 255);
}
.square-contents {
  display: grid;
  font-family: "Courier New", Courier, monospaceMS;
  padding-top: 5px;
  align-items: center;
  font-size: 40pt;
}
.section-title {
  font-family: didot;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}
.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 5px;
}
.instruction-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.under-text {
  flex: 1;
  text-align: center;
  font-family: didot;
  font-size: 16pt;
}
.btn {
  flex: 1;
  height: 50px;
}
#current-turn {
  text-align: center;
  font-family: "Courier New", Courier, monospaceMS;
  font-size: 30pt;
  margin-right: 25px;
}
#next-message {
  flex: 1;
  font-family: didot;
  font-size: 18pt;
  text-align: right;
  padding-right: 10px;
}
#clear {
  font-family: didot;
  font-size: 12pt;
  border-radius: 10px;
  padding: 10px;
  width: 125px;
}
#win {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  /* color: rgb(200, 35, 35); */
  padding-left: 20px;
}
body {
  background-color: whitesmoke;
}
